{%extends 'base.html'%}


{%block content%}


<div class="content-section container">
    <form method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        <fieldset class="form-group">
            <legend class="border-bottom md-4"> <b style="color: blue;">Delete patient</b> </legend>
            <h3>Are you sure you want to delete patient {{patient.patients_name}} ?</h3>

        </fieldset>
        <div>
            <button class="btn btn-outline-danger " type="submit">Yes,delete</button>
            <a class="btn btn-outline-secondary " href="{%url 'patient_details' patient.id%}">cancel</a>

        </div>
    </form>



</div>

{%endblock content%}